In [251]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
import calendar

import my_functions
import importlib
importlib.reload(my_functions)
from my_functions import *

print(os.listdir("input"))

['imbd-sf']

In [252]:
data = pd.read_csv('input/imbd-sf/data.csv')

pd.set_option('display.max_rows', 20)

data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [253]:
len(data)

1890

In [254]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

In [255]:
# Предобработка датасета

data.drop(['imdb_id', 'tagline', 'overview'], axis=1, inplace=True, errors='ignore')
data['profit'] = data.revenue - data.budget
data['cast'] = data.cast.str.split('|')
data['genres'] = data.genres.str.split('|')
data['director'] = data.director.str.split('|')
data['production_companies'] = data.production_companies.str.split('|')

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [256]:
display(data[data.budget==data.budget.max()].original_title)

answer_ls.append(4)

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [303]:
display(data[data.runtime==data.runtime.max()].original_title)

answer_ls.append(2)

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [258]:
display(data[data.runtime==data.runtime.min()].original_title)

answer_ls.append(3)

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [259]:
display(round(data.runtime.mean()))

answer_ls.append(2)

110

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [260]:
display(round(data.runtime.median()))

answer_ls.append(1)

106

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [261]:
display(data[data.profit==data.profit.max()].original_title)

answer_ls.append(5)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [262]:
display(data[data.profit==data.profit.min()].original_title)

answer_ls.append(2)

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [308]:
display(data[data.profit>0].count())

answer_ls.append(1)

popularity              1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_count              1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [264]:
data_2008 = data[(data.release_year==2008)]
display(data_2008[data_2008.profit==data_2008.profit.max()].original_title)

answer_ls.append(4)

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [265]:
data_12_14 = data[(data.release_year.between(2012, 2014))]
display(data_12_14[data_12_14.profit==data_12_14.profit.min()].original_title)

answer_ls.append(5)

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [266]:
display(pd.DataFrame(data.genres.tolist()).stack().value_counts().head(1))

answer_ls.append(3)

Drama    782
dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [267]:
display(pd.DataFrame(data[data.profit>0].genres.tolist()).stack().value_counts().head(5))

answer_ls.append(1)

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [268]:
display(pd.DataFrame(data.director.tolist()).stack().value_counts().head(5))

answer_ls.append(3)

Steven Soderbergh    13
Clint Eastwood       12
Ridley Scott         12
Robert Rodriguez     11
Peter Farrelly       10
dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [269]:
display(pd.DataFrame(data[data.profit>0].director.tolist()).stack().value_counts().head(5))

answer_ls.append(3)

Ridley Scott         12
Steven Soderbergh    10
Clint Eastwood       10
Steven Spielberg     10
Shawn Levy            9
dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [270]:
display(expand_df(data, 'director').groupby('director_divided').profit.sum().sort_values(ascending=False).head(5))

answer_ls.append(5)

director_divided
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
Name: profit, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [271]:
# функция expand_df из модуля my_functions.py
display(expand_df(data, 'cast').groupby('cast_divided').profit.sum().sort_values(ascending=False).head(5))

answer_ls.append(1)

cast_divided
Emma Watson          6666245597
Daniel Radcliffe     6514990281
Rupert Grint         6408638290
Ian McKellen         6087375777
Robert Downey Jr.    5316030161
Name: profit, dtype: int64

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [272]:
display(expand_df(data[data.release_year==2012], 'cast').groupby(['cast_divided']).profit.sum().sort_values().head(5))

answer_ls.append(3)

cast_divided
Kirsten Dunst    -68109207
Heidi Hawkins    -51893525
James Kidnie     -51893525
Timothy Spall    -51893525
Malin Ã…kerman   -43733509
Name: profit, dtype: int64

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [273]:
display(expand_df(data[data.budget > data.budget.mean()], 'cast').cast_divided.value_counts().head(5))

answer_ls.append(3)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
Name: cast_divided, dtype: int64

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [274]:
data_nicolas = expand_df(data, 'cast').query("cast_divided=='Nicolas Cage'")
display(expand_df(data_nicolas, 'genres').genres_divided.value_counts().head(5))

answer_ls.append(2)

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
Name: genres_divided, dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [275]:
display(pd.DataFrame(data.production_companies.tolist()).stack().value_counts().head(5))

answer_ls.append(1)

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
dtype: int64

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [276]:
display(pd.DataFrame(data[data.release_year==2015].production_companies.tolist()).stack().value_counts().head(5))

answer_ls.append(4)

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Paramount Pictures                         7
Columbia Pictures                          7
dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [277]:
data_comedies = data[data.genres.apply(lambda genres: 'Comedy' in genres)]
display(expand_df(data_comedies, 'production_companies').groupby('production_companies_divided').profit.sum().sort_values(ascending=False).head(5))

answer_ls.append(2)

production_companies_divided
Universal Pictures                        8961545581
Walt Disney Pictures                      7669710326
Twentieth Century Fox Film Corporation    5686960294
Columbia Pictures                         5646343696
DreamWorks Animation                      4789049764
Name: profit, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [278]:
display(expand_df(data[data.release_year==2012], 'production_companies').groupby(by='production_companies_divided').profit.sum().sort_values(ascending=False).head(5))

answer_ls.append(3)

production_companies_divided
Columbia Pictures     2501406608
Universal Pictures    1981011579
Marvel Studios        1299557910
Warner Bros.          1258020056
Relativity Media      1032593938
Name: profit, dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [309]:
data_paramount = data[data.production_companies.apply(lambda companies: 'Paramount Pictures' in companies)]
display(data_paramount.sort_values(by='profit').original_title.head(5))

answer_ls.append(1)

926     K-19: The Widowmaker
1124                Timeline
1723                    Next
1624                   Alfie
1632                 Twisted
Name: original_title, dtype: object

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [280]:
display(data.groupby('release_year').profit.sum().sort_values(ascending=False).head(5))

answer_ls.append(5)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [310]:
data_copy = data.copy()
data_copy['production_companies'] = data_copy['production_companies'].map('|'.join) # 2 написания названия компании, чтобы оба их учесть, возвращаем колонку обрабтно в STR 
data_warner = data_copy[data_copy.production_companies.str.contains('Warner Bros')]
display(data_warner.groupby('release_year').profit.sum().sort_values(ascending=False).head(5))

answer_ls.append(1)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [282]:
data_months = pd.DatetimeIndex(data['release_date']).month
display(data_months.map(lambda x: calendar.month_abbr[x]).value_counts().head(5))

answer_ls.append(4)

Sep    227
Dec    191
Oct    186
Aug    161
Mar    156
Name: release_date, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [283]:
# функция season_by_intmonth из модуля my_functions.py
data_seasons = pd.DatetimeIndex(data['release_date']).month.map(season_by_intmonth)
display(data_seasons.value_counts())

answer_ls.append(2)

autumn    559
summer    450
spring    445
winter    436
Name: release_date, dtype: int64

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [312]:
data_29 = data.copy()

data_29['season'] = pd.DatetimeIndex(data_29['release_date']).month.map(season_by_intmonth)
data_expanded = expand_df(data_29[data_29.season=='winter'], 'director')
display(data_expanded.groupby('director_divided').size().sort_values(ascending=False).head(5))

answer_ls.append(5)

director_divided
Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Adam Shankman        4
dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [318]:
data_30 = data.copy()

data_30['month'] = pd.DatetimeIndex(data_30['release_date']).month.map(lambda x: calendar.month_abbr[x])
data_pivot = pd.pivot_table(data_30, index='month', columns='release_year', aggfunc=sum, values='profit')
display(data_pivot.idxmax().value_counts())

answer_ls.append(2)

Jun    7
May    4
Dec    4
Jul    1
dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [286]:
data_31 = data.copy()

data_31['title_len'] = data_31.original_title.str.len() 
display(expand_df(data_31, 'production_companies').groupby('production_companies_divided').title_len.mean().sort_values(ascending=False).head(5))

answer_ls.append(5)

production_companies_divided
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Polsky Films                 46.0
Museum Canada Productions    46.0
Name: title_len, dtype: float64

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [287]:
data_32 = data.copy()

data_32['title_words'] = data_31.original_title.str.split(' ').map(len)
display(expand_df(data_32, 'production_companies').groupby('production_companies_divided').title_words.mean().sort_values(ascending=False).head(5))

answer_ls.append(5)

production_companies_divided
Four By Two Productions    12.0
Jim Henson Company, The    10.0
Polsky Films                9.0
The Saul Zaentz Company     9.0
Dos Corazones               9.0
Name: title_words, dtype: float64

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [288]:
data_33 = data.copy()

data_33['original_title'] = data_33.original_title.str.lower().replace('\s+', ' ', regex=True) # сделаем двойной пробел - одинарным
words = pd.DataFrame(data_33.original_title.str.split(' ').to_list()).stack().drop_duplicates()
display(words.count())

answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [322]:
answers = {
    1: set(['Inside Out', 'Gone Girl', '12 Years a Slave']),
    2: set(['BloodRayne', 'The Adventures of Rocky & Bullwinkle']),
    3: set(['The Lord of the Rings: The Return of the King','Upside Down']), # в оригинальном ноутбуке данный ответ состоит из 'The Lord of the Rings: The Return of the King'
                                                                             # вариант исправлен в соотв. с платформой                                                   
    4: set(['300', 'Lucky Number Slevin'])
}

top_procent_check = 1
top_procent_vote = np.percentile(data['vote_average'], (100-top_procent_check))
top_procent_films = set(data[data.vote_average>top_procent_vote]['original_title'].to_list())
display(data[data.vote_average>top_procent_vote].sort_values(by='vote_average')[['original_title', 'vote_average', 'vote_count']])

for answer in answers:
    if answers[answer].issubset(top_procent_films):
        print(f'Ответ:  {answer}. {answers[answer]}')
    
answer_ls.append(1)

                                     original_title  vote_average  vote_count
119                         Guardians of the Galaxy           7.9        5612
128                                       Gone Girl           7.9        3720
138                        The Grand Budapest Hotel           7.9        2802
370                                       Inception           7.9        9767
873                                     The Pianist           7.9         938
1082  The Lord of the Rings: The Return of the King           7.9        5636
1184                        The Wolf of Wall Street           7.9        4027
1192                               12 Years a Slave           7.9        2241
1801                                        Memento           7.9        2144
9                                        Inside Out           8.0        3935
34                                             Room           8.0        1520
118                                    Interstellar           8.0        6498
125                              The Imitation Game           8.0        3478
600                                 The Dark Knight           8.1        8432

Ответ:  1. {'12 Years a Slave', 'Gone Girl', 'Inside Out'}

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [329]:
data_35 = data.copy()
data_35 = expand_df(data_35, 'cast')
c = Counter()

grouped_data = data_35[['cast_divided', 'cast']].groupby('cast_divided').agg({ 'cast': sum }).reset_index()

for index, row in grouped_data.iterrows():
    for i in range(len(row['cast'])):
        if row['cast_divided'] != row['cast'][i]:                                                      
            c[tuple([row['cast_divided'], row['cast'][i]])] += 1
display(c.most_common(10))

answer_ls.append(5)

# как удалить из grouped_data вхождения cast_divided в cast ??

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Emma Watson', 'Daniel Radcliffe'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Rupert Grint', 'Daniel Radcliffe'), 8),
 (('Rupert Grint', 'Emma Watson'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Owen Wilson', 'Ben Stiller'), 6)]

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [291]:
answers = {
    1: 'Quentin Tarantino',
    2: 'Steven Soderbergh',
    3: 'Robert Rodriguez',
    4: 'Christopher Nolan',
    5: 'Clint Eastwood'
    }

data_36 = data.copy()
data_36['is_profit'] = data_36.profit.apply(lambda x: 1 if x>0 else 0)
expanded_data = expand_df(data_36, 'director')
director_chances = expanded_data.groupby('director_divided')['is_profit'].agg(
    [('is_profit', sum),
    ('at_all', len),
    ('chance', lambda x: x.sum() / x.count() ) ]
    )
display(director_chances.sort_values(by=['chance','at_all'], ascending=False).head(7))
top_chance_directors_by_order = director_chances.sort_values(by=['chance','at_all'], ascending=False).index.to_list()

for director in top_chance_directors_by_order:
    if director in answers.values():
        print(f'по вероятности на успех {director} на {top_chance_directors_by_order.index(director) + 1} месте')
        print(f'Ответ под номером {list(answers.keys())[list(answers.values()).index(director)]}')
        break

answer_ls.append(4)

                   is_profit  at_all  chance
director_divided
Ridley Scott              12      12     1.0
Steven Spielberg          10      10     1.0
Tim Burton                 9       9     1.0
Antoine Fuqua              8       8     1.0
Brett Ratner               8       8     1.0
Christopher Nolan          8       8     1.0
Michael Bay                8       8     1.0

по вероятности на успех Christopher Nolan на 6 месте
Ответ под номером 4

# Submission

In [292]:
len(answer_ls)

36

In [293]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
..  ..     ...
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4

[36 rows x 2 columns]